.bioSection {
  background-color: var(--section-bg-1);
  padding: 40px 0;
}

.title {
  text-align: center; /* Alineación centrada */
  font-size: 2.5rem; /* Ajuste al mismo tamaño que DemoSection */
  margin-bottom: 40px; /* Mismo margen que DemoSection */
  color: var(--primary)!important; /* Color consistente */ 
}

.bioContent {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.bioText {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bioBlock {
  background: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 8px;
}

.bioImages {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.image {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.socialIcons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.icon {
  font-size: 1.5rem;
  color: #555;
  transition: color 0.3s;
}

.icon:hover {
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .bioContent {
    flex-direction: column;
  }
}
