/* styles/Navbar.module.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #7d8c79; /* Color especificado para el navbar */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.navbar:hover {
  background-color: #6d7c69; /* Fondo más oscuro al hacer hover */
}

#home {
  margin-top: -80px; /* Evita que el contenido se superponga al navbar */
  padding-top: 80px; /* Espacio para evitar superposición */
}

.brandName {
  font-size: 24px;
  font-weight: bold; 
  background: white;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  cursor: pointer;
}

.ul {
  display: flex;
  list-style-type: none;
}

.li {
  margin: 0 15px;
  cursor: pointer;
  color: var(--foreground);
  font-size: 16px;
}

.li:hover {
  color: #a0e6ff;
}

.languageSwitch {
  background-color: #a0e6ff;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
}

.languageSwitch:hover {
  background-color: #d4b8ff;
}

.menuButton {
  display: none;
  background: none;
  border: none;
  color: var(--foreground);
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menuButton {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
  }

  .ul.show {
    display: flex;
  }

  .li {
    margin: 10px 0;
    text-align: center;
  }

  .languageSwitch {
    margin-top: 10px;
  }
}
