/* styles/ProjectSection.module.css */

.projectsSection {
    min-height: 100vh; /* Asegura que la sección ocupe al menos toda la altura de la ventana */
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */
    align-items: center; /* Centra horizontalmente */
    background-color: var(--background); /* Usa el color de fondo definido en variables */
    padding: 80px 0; /* Espaciado superior e inferior */
  }
  
  .title {
    font-size: 3rem; /* Tamaño grande para el título */
    margin-bottom: 40px; /* Espacio debajo del título */
    color: var(--primary); /* Color del texto utilizando variable */
  }
  
  .filters {
    display: flex;
    justify-content: center;
    margin-bottom: 30px; /* Espacio debajo de los filtros */
  }
  
  .filterButton {
    background-color: transparent; /* Fondo transparente */
    border: 2px solid var(--primary); /* Borde con color primario */
    color: var(--primary); /* Color del texto utilizando variable */
    padding: 10px 20px;
    margin: 0 10px; /* Espaciado entre botones */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transiciones suaves */
  }
  
  .filterButton:hover {
    background-color: var(--primary); /* Color de fondo al pasar el mouse */
    color: white; /* Cambia el color del texto al pasar el mouse */
  }
  
  .active {
    background-color: var(--primary); /* Color de fondo activo */
    color: white; /* Color del texto activo */
  }
  
  .projectGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Cuadrícula responsiva */
    gap: 20px; /* Espacio entre los elementos */
  }
  
  .projectCard {
    background-color: var(--card-bg); /* Fondo de tarjeta usando variable para un tono gris claro */
    border-radius: 8px; /* Bordes redondeados en las tarjetas */
    box-shadow: rgba(0,0,0,0.1) 0px 4px 10px; /* Sombra suave para profundidad */
    overflow: hidden; /* Evita que el contenido se desborde */
  }
  
  .projectCard img {
    width: 100%; /* Imagen ocupa todo el ancho de la tarjeta */
    height: auto; /* Mantiene la proporción de la imagen */
  }
  
  .projectCard h3 {
    padding: 15px;
    text-align: center;
  }
  
  /* Estilos responsivos para dispositivos móviles */
  @media (max-width:768px) {
      .projectsSection {
        padding: 60px 0; /* Ajusta el espaciado en pantallas pequeñas */
      }
  
      .title {
        font-size: 2.5rem; /* Reduce el tamaño del título en pantallas pequeñas */
      }
  }